body {
    background-color: #eaf6f6;
    font-family: "Verdana";
}

h1, h3 {
    color: #66BFBF;
}

hr {
    background-color: #eaf6f6; 
    height: 0px; 
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    color: grey;
}
